@using Microsoft.AspNetCore.Identity
@using Graduation_Project.Shared.Models;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.FindByNameAsync(User.Identity.Name);
        <li class="nav-item nav-item-dropdown-lg dropdown ms-lg-2">
            <a href="#" class="navbar-nav-link align-items-center rounded-pill p-1" data-bs-toggle="dropdown">
                <div class="status-indicator-container">
                    <img src="~/images/demo/users/face.webp" class="w-32px h-32px rounded-pill" alt="">
                    <span class="status-indicator bg-success"></span>
                </div>
                <span class="d-none d-lg-inline-block mx-lg-2">@user.FirstName</span>
            </a>
            <div class="dropdown-menu dropdown-menu-end">
                <a asp-area="Identity" asp-page="/Account/Manage/Index" class="dropdown-item">
                    <i class="ph-user-circle me-2"></i>
                    My profile
                </a>
                <a asp-area="Identity" asp-page="/Account/Manage/ChangePassword" class="dropdown-item">
                    <i class="ph-password me-2"></i>
                    Change password
                </a>
                <div class="dropdown-divider"></div>
                <a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/")" class="dropdown-item">
                    <i class="ph-sign-out me-2"></i>
                    Logout
                </a>
                @* <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                    <button type="submit" class="nav-link btn btn-link text-dark"><i class="ph-sign-out me-2"></i>Logout</button>
                </form> *@
            </div>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
