@page
@model Graduation_Project_Dashboard.Pages.Users.CreateModel

@{
    ViewData["Title"] = "Create";
    ViewData["Entity"] = "Users";
    ViewData["BreadCrumb"] = "<a href='/Users' class='breadcrumb-item'>Users</a>";
    Layout = "~/Pages/Shared/_MasterLayout.cshtml";
}

<h1>Search for User</h1>

<form method="get">
    <div class="form-group">
        <input type="text" class="form-control" id="searchInput" name="searchInput" placeholder="Enter UserName">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>

@if (Model.Users != null && Model.Users.Any())
{
    <h2>Search Results</h2>
    <ul>
        @foreach (var user in Model.Users)
        {
            <li>@user.UserName</li>
        }
    </ul>
}


<form method="post">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title mb-0">Create New User</h5>
        </div>
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label asp-for="Input.FirstName" class="control-label"></label>
                        <input asp-for="Input.FirstName" class="form-control" />
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label asp-for="Input.LastName" class="control-label"></label>
                        <input asp-for="Input.LastName" class="form-control" />
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label asp-for="Input.Email" class="control-label"></label>
                        <input id="emailCheck" asp-for="Input.Email" class="form-control" type="email" />
                        <span id="emailMsg" asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label asp-for="Input.NationalId" class="control-label"></label>
                        <input  asp-for="Input.NationalId" class="form-control" type="text" />
                        <span  asp-validation-for="Input.NationalId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label asp-for="Input.PhoneNumber" class="control-label"></label>
                        <input asp-for="Input.PhoneNumber" class="form-control" />
                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
                      <div class="col-lg-6">
                    <div class="form-group">
                        <label asp-for="Input.Address" class="control-label"></label>
                        <input asp-for="Input.Address" class="form-control" />
                        <span asp-validation-for="Input.Address" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-group">
                        <label asp-for="Input.Password" class="control-label">Password</label>
                        <span id="password_strength"></span>
                        <div class="input-group">
                            <input asp-for="Input.Password" id="txtPassword" onkeyup="CheckPasswordStrength(this.value)" type="text" class="form-control" placeholder="Enter your password" autocomplete="off">
                            <button type="button" class="btn btn-info " onclick="genPassword()">Generate password</button>
                            @*<input type="text" id="txtPassword" onkeyup="CheckPasswordStrength(this.value)" />*@
                            @*<span class="badge password-indicator-badge-absolute"></span>*@
                        </div>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label asp-for="Input.RoleId" class="control-label"></label>
                        <select asp-for="Input.RoleId" class="form-control multiselect" multiple="multiple" required data-fouc asp-items="ViewBag.RoleId">
                            <option value="bdebdb78-4dc9-40ac-b319-f4e5e7bc3503">Administrator</option>
                            <option data-role="divider"></option>
                            <option value="b4018cb5-755e-468b-9802-a9917c37730e">Teacher</option>
                            <option value="b1c940d9-1014-48f9-8cd8-a410eb35bc1f">Employee</option>
                            <option value="ee30e20d-5851-4f96-bc13-6aa7c73ce07c">User</option>
                        </select>
                        <span asp-validation-for="Input.RoleId" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-between align-items-center bg-light border-top-0">
            <a asp-page="Index" class="btn btn-primary btn-labeled btn-labeled-start">
                Cancel
                <span class="btn-labeled-icon bg-black bg-opacity-20">
                    <i class="icon-arrow-left8"></i>
                </span>
            </a>
            <button type="submit" class="btn btn-primary btn-labeled btn-labeled-end">
                Create
                <span class="btn-labeled-icon bg-black bg-opacity-20">
                    <i class="icon-paperplane"></i>
                </span>
            </button>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }


    <script>
        function searchUser() {
            var firstName = document.getElementById("searchFirstName").value;
            if (firstName.trim() !== "") {
                // Perform search
                window.location.href = "/Users/Search?firstName=" + firstName;
            } else {
                alert("Please enter a first name to search.");
            }
        }
    </script>

    <script type="text/javascript">
        function CheckPasswordStrength(password) {
            var password_strength = document.getElementById("password_strength");

            //TextBox left blank.
            if (password.length == 0) {
                password_strength.innerHTML = "";
                return;
            }
            else if (password.length < 6) {
                password_strength.innerHTML = "<span style='color: red;'> Minimum password length is 6 </span>";

                return;
            }

            //Regular Expressions.
            var regex = new Array();
            regex.push("[A-Z]"); //Uppercase Alphabet.
            regex.push("[a-z]"); //Lowercase Alphabet.
            regex.push("[0-9]"); //Digit.
            regex.push("[$@@$!%*#?&]"); //Special Character.

            var passed = 0;

            //Validate for each Regular Expression.
            for (var i = 0; i < regex.length; i++) {
                if (new RegExp(regex[i]).test(password)) {
                    passed++;
                }
            }

            //Validate for length of Password.
            if (passed > 2 && password.length > 8) {
                passed++;
            }

            //Display status.
            var color = "";
            var strength = "";
            switch (passed) {
                case 0:
                case 1:
                    strength = "Weak";
                    color = "red";
                    break;
                case 2:
                    strength = "Good";
                    color = "darkorange";
                    break;
                case 3:
                case 4:
                    strength = "Strong";
                    color = "green";
                    break;
                case 5:
                    strength = "Very Strong";
                    color = "darkgreen";
                    break;
            }
            password_strength.innerHTML = strength;
            password_strength.style.color = color;
        }



        var password = document.getElementById("txtPassword");

        function genPassword() {
            var chars = "0123456789abcdefghijklmnopqrstuvwxyz!@@#$%^&*()ABCDEFGHIJKLMNOPQRSTUVWXYZ";
            var passwordLength = 12;
            var password = "";
            for (var i = 0; i <= passwordLength; i++) {
                var randomNumber = Math.floor(Math.random() * chars.length);
                password += chars.substring(randomNumber, randomNumber + 1);
            }
            document.getElementById("txtPassword").value = password;
            CheckPasswordStrength(password);
        }



    //      document.getElementById('emailCheck').addEventListener('keydown', function () {
    //          console.log("hi");
    //     validateEmail();
    // });

    // function validateEmail() {
    //     var regx = "/^[a-zA-Z0-9._-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/";
    //     var input = document.getElementById("emailCheck").value;
    //     var emailMsg = document.getElementById("emailMsg");

    //     if (!regx.test(input)) {
    //         emailMsg.innerText = "Email is Not Valid";
    //     } else {
    //         emailMsg.innerText = ""; // Clear the message if the email is valid
    //     }
    //}

    </script>
}
