@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="card mb-0">
    <div class="card-header">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="card-body text-center">
        <p>
            Please check your email to reset your password.
        </p>
    </div>
</div>
